<!--Footer-->
<footer class="mdui-hoverable mdl-mini-footer" id="bottom">
    <% if(theme.scheme === 'Paradox') { %>
        <!-- Paradox Footer Left Section -->
        <%- partial('_partial/footer-left') %>

        <!--Copyright-->
        <div id="copyright">
            <a href="https://github.com/wskacrs/burogu" target="_blank" class="mdui-typo footer-develop-a">Copyright&nbsp;©<% if(theme.copyright_since) { %>&nbsp;<%= theme.copyright_since %>&nbsp;-<% } %><script type="text/javascript">var fd = new Date();document.write("&nbsp;" + fd.getFullYear() + "&nbsp;");</script><%- config.title %>
            <% if(theme.footer_text) { %>
                <br>
                <% if(Array.isArray(theme.footer_text)) { %>
                    <%- theme.footer_text.join('<br>') %>
                <% } else { %>
                    <%- theme.footer_text %>
                <% } %>
            <% } %></a>
        </div>

        <!-- Paradox Footer Right Section -->
		
        <div class="mdui-typo mdl-mini-footer--right-section">
            <div>
                <div class="footer-develop-div">Powered by <a href="https://hexo.io" target="_blank" class="footer-develop-a">Hexo</a></div>
                <div class="footer-develop-div">Theme - <a href="https://crs.mainstars.net/burogu/2018/03/06/materialw-for-hexo/" target="_blank" class="footer-develop-a">Materialw</a></div>
            </div>
        </div>
    <% } %>
</footer>
